
{{> head}}

       {{> navbar}}
              <div class="row">
                 <div class="col-8">
                     <h1>Mi Rosa y yo</h1>
                     <p> mi mejor amiga y yo</p>
                  </div>
                  <div class="col-4">
                        <img src="access/img/merose.png" class="img-thumbnail">
                      </div>
                {{> footer}}